body {
  border: solid 3px black;
  background-color: black;
  color: green;
}

h1 {
  text-align: center;
  font-size: 60px;
}

img {
  position: left;
  height: 150px;
  width: 200px;
}

p {
  font-size: 30px;
}

#gif {
  height: 150px;
  width: 150px;
}
