figcaption {
  color: white;
  font-family: "Press Start 2P", fantasy, sans-serif;
  }

#dog-paws {
  color: green;
  text-align: center;
  font-size: 100px;
  font-family: cat, "Rubik Puddles", fantasy, sans-serif;
}

h2 {
   font-family: "Rubik Puddles", sevillana, fantasy, serif;  
   color: white;
   text-align: center;
   font-size: 60px;
   padding-bottom: 10px;
  }
  
#picture1 {
    padding: 10px;
    height: 300px;
    width: 300px;
    border-radius: 50px;
    }
    
#picture2 {
    padding: 10px;
    height: 300px;
    width: 300px;
    border-radius: 50px;
    }
    
#picture3 {
    padding: 10px;
    height: 300px;
    width: 300px;
    border-radius: 50px;
    }
    
#picture4 {
    padding: 10px;
    height: 300px;
    width: 300px;
    border-radius: 50px;
    }
    
#picture5 {
    padding: 10px;
    height: 300px;
    width: 300px;
    border-radius: 50px;
    }

#picture6 {
    padding: 10px;
    height: 300px;
    width: 300px;
    border-radius: 50px;
    }

#picture7 {
    padding: 10px;
    height: 300px;
    width: 300px;
    border-radius: 50px;
    }

#picture8 {
    padding: 10px;
    height: 300px;
    width: 300px;
    border-radius: 50px;
    }

#picture9 {
    padding: 10px;
    height: 300px;
    width: 300px;
    border-radius: 50px;
    }

#picture10 {
    padding: 10px;
    height: 300px;
    width: 300px;
    border-radius: 50px;
    }

#picture11 {
    padding: 10px;
    height: 300px;
    width: 300px;
    border-radius: 50px;
    }

#picture12 {
    padding: 10px;
    height: 300px;
    width: 300px;
    border-radius: 50px;
    }
  
#picture {
   padding: 35px;   
   height: 300px;
   width: 300px;
   border-radius: 100px;
}
                            
p {
  text-align: center;  
  font-size: 15px;
  font-family:  "Press Start 2P", sevillana, fantasy, sans-serif;
  font-weight: 700;
  color: white;
} 

body {
    background-image: url(./Images/7026047.jpg);
    color: black;
    background-size: auto;
    background-position: center;
}
                                        
h3 {
    font-family: "Press Start 2P", sevillana, fantasy, serif;
    color: white;
    text-align: center;
    font-size: 12px;
    padding-bottom: 25px;
}



h5 {
    color: green;
}

.rubik-puddles-regular {
  font-family: "Rubik Puddles", system-ui;
  font-weight: 400;
  font-style: normal;
}

.press-start-2p-regular {
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
}
