h1 {
  color: blue;
  text-align: center;
  font-size: 75px;
  font-family: sevillana, fantasy, sans-serif;
}

#picture {
   padding: 35px;   
   height: 300px;
   width: 300px;
   border-radius: 100px;
   display: inline-flex;

}

p {
  text-align: center;  
  font-size: 40px;
  font-family: sevillana, fantasy, sans-serif;
  font-weight: 700;
  color: green;  
} 

body {
    background-image: url(./Images/7026047.jpg);
    color: black;
    align: left;
}

h3 {
    font-family: sevillana, fantasy, serif;
    color: blue;
    text-align: center;
    font-size: 25px;
    padding-bottom: 25px;
}

h2 {
   font-family: sevillana, fantasy, serif;  
   color: green;
   text-align: center;
   font-size: 60px;
   padding-bottom: 10px;
}

footer {
    color: green;
}
