.banner {
    color: green;
    text-align: center;
    font-size: 75px;
    font-family: sevillana, fantasy, sans-serif;
    padding: 100px 0;
    margin-top: 0%;
}

#picture {
 margin-left: auto;
 margin-right: auto;   
 padding: 1px;   
 height: 300px;
 width: 300px;
 border: solid 3px white;
}

p {
  text-align: center;  
  font-size: 30px;
  font-family: sevillana, fantasy, sans-serif;
  font-weight: bold;
  color: green;  
} 

body {
    background-color: black;
}

.banner1 {
    font-family: sevillana, fantasy, serif;
    color: black;
    background-color: green;
    text-align: center;
    font-size: 25px;
    margin: 0%;
}
