.banner {
    background-color: orange;
    color: blue;
    text-align: center;
    font-size: 75px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 100px 0;
    margin-top: 0%;
}

#picture {
 padding: 1px;   
 height: 300px;
 width: 300px;
 border: solid 3px;
}

p {
  position: center;  
  color: orange;
  font-size: 30px;
  font-family: fantasy;
  font-weight: lighter;
} 

body {
    background-color: blue;
}

.banner1 {
    color: blue;
    background-color: orange;
    text-align: center;
    font-size: 25px;
    margin: 0%;
}
