h5 {
  font-size: 13px;
  color: white;
  font-family: "Press Start 2P", sans-serif;
}

a {
  color: white;
}

h1 {
  font-family: "Rubik Puddles";
  text-align: center;
  font-size: 100px;
  color: white;
  
}

body {
  background-image: url(./Images/black-and-blue-night-sky-t5t2v49qpc642fwm.jpg);
  color: black;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#picture1 {
    padding: 10px;
    height: 300px;
    width: 350px;
    border-radius: 30px;
    align: center;
    display: inline-block;
    }

#picture2 {
    padding: 10px;
    height: 300px;
    width: 350px;
    border-radius: 30px;
    align: center;
    display: inline-block;
    }

#picture3{
    padding: 10px;
    height: 300px;
    width: 350px;
    border-radius: 30px;
    align: center;
    display: inline-block;
    }

#picture4{
    padding: 10px;
    height: 300px;
    width: 350px;
    border-radius: 30px;
    align: center;
    display: inline-block;
    }

#picture5{
    padding: 10px;
    height: 300px;
    width: 350px;
    border-radius: 30px;
    align: center;
    display: inline-block;
    }

#picture6{
    padding: 10px;
    height: 300px;
    width: 350px;
    border-radius: 30px;
    align: center;
    display: inline-block;
    }

#picture7{
    padding: 10px;
    height: 300px;
    width: 350px;
    border-radius: 30px;
    align: center;
    display: inline-block;
    }

#picture8{
    padding: 10px;
    height: 300px;
    width: 350px;
    border-radius: 30px;
    align: center;
    display: inline-block;
    }

#picture9{
    padding: 10px;
    height: 300px;
    width: 350px;
    border-radius: 30px;
    align: center;
    display: inline-block;
    }

figcaption {
  border: dotted 3px white;
  font-size: 13px;
  text-align: center;
  color: white;
  font-family: "Press Start 2P", fantasy, sans-serif;
  padding: 5px;
  margin: 10px;
  }
