.image {
    transition-property: max-height;
    transition-duration: 1s;
    transition-timing-function: easy-in-out;
    transition-delay: 400ms;
    padding: 10px;
    height: 275px;
    width: 350px;
    border-radius: 30px;
    align: center;
    opacity: 1;
    display: inline-block;
    transition: .5s ease;
    backface-visibility: hidden;
    }

.image:hover {
  max-height: 500px;
}
  

h5 {
  font-size: 12px;
  color: #87CEFA;
  font-family: "Press Start 2P", sans-serif;
}

a {
  color: white;
}

h1 {
  font-family: "Rubik Puddles";
  text-align: center;
  font-size: 110px;
  color: orange;
  padding-bottom: 20px;
  text-shadow: 2px 2px 0 black;
  -webkit-animation: bounceIn 1.5s both 1s;
  margin-top: 100px;
  letter-spacing: 2px;
  background-color: black;
  opacity: 0.8;
  
}

body {
  background-image: url(./Images/halloween_background_by_pokemontoonpatrolfan_dgeejfu-fullview.jpg);
  color: black;
  background-size: contain;
  background-position: center;
  background-repeat: repeat;
}

#picture1 {
    transition-property: max-height;
    transition-duration: 1s;
    transition-timing-function: easy-in-out;
    transition-delay: 400ms;
    padding: 10px;
    height: 275px;
    width: 350px;
    border-radius: 30px;
    align: center;
    opacity: 1;
    display: inline-block;
    transition: .5s ease;
    backface-visibility: hidden;
    }

#picture1: hover {
  max-height: 400px;
}

#picture2 {
    padding: 10px;
    height: 300px;
    width: 350px;
    border-radius: 30px;
    align: center;
    display: inline-block;
    }

#picture3{
    padding: 10px;
    height: 300px;
    width: 350px;
    border-radius: 30px;
    align: center;
    display: inline-block;
    }

#picture4{
    padding: 10px;
    height: 300px;
    width: 350px;
    border-radius: 30px;
    align: center;
    display: inline-block;
    }

#picture5{
    padding: 10px;
    height: 300px;
    width: 350px;
    border-radius: 30px;
    align: center;
    display: inline-block;
    }

#picture6{
    padding: 10px;
    height: 300px;
    width: 350px;
    border-radius: 30px;
    align: center;
    display: inline-block;
    }

#picture7{
    padding: 10px;
    height: 300px;
    width: 350px;
    border-radius: 30px;
    align: center;
    display: inline-block;
    }

#picture8{
    padding: 10px;
    height: 300px;
    width: 350px;
    border-radius: 30px;
    align: center;
    display: inline-block;
    }

#picture9{
    padding: 10px;
    height: 300px;
    width: 350px;
    border-radius: 30px;
    align: center;
    display: inline-block;
    }

#picture10{
    padding: 10px;
    height: 300px;
    width: 350px;
    border-radius: 30px;
    align: center;
    display: inline-block;
    }

#picture11{
    padding: 10px;
    height: 300px;
    width: 350px;
    border-radius: 30px;
    align: center;
    display: inline-block;
    }

#picture12{
    padding: 10px;
    height: 300px;
    width: 350px;
    border-radius: 30px;
    align: center;
    display: inline-block;
    }

figcaption {
  font-weight: bold;
  background-color: black;
  opacity: 0.8;
  border: dotted 3px orange;
  font-size: 13px;
  text-align: center;
  color: purple;
  font-family: "Press Start 2P", fantasy, sans-serif;
  padding: 10px;
  margin: 10px;
  }

@-webkit-keyframes bounceIn{
  0% { 
    transform: scale(0.1); 
    -webkit-transform: scale(0.1);
    opacity: 0;
  } 

  60% { 
    transform: scale(1.2); 
    -webkit-transform: scale(1.5);
    opacity: 1;
  } 

  100% { 
    transform: scale(1); 
    -webkit-transform: scale(1);
  }
}

@keyframes bounceIn{
  0% { 
    transform: scale(0.1); 
    -webkit-transform: scale(0.1);
    opacity: 0;
  } 

  60% { 
    transform: scale(1.2); 
    -webkit-transform: scale(1.5);
    opacity: 1;
  } 

  100% { 
    transform: scale(1); 
    -webkit-transform: scale(1);
  }


