h1 {
  font-style: "Rubik Puddles"
}

figcaption {
  border: dotted 3px orange;
  
}

.picture {
   padding: 10px;
    height: 300px;
    width: 350px;
    border-radius: 30px;
    align: center;
    display: float;
}
