h1 {
  border: dotted 3px purple;
  font-family: "Rubik Puddles";
  text-align: center;
  font-size: 110px;
  color: orange;
  padding-bottom: 20px;
  text-shadow: 2px 2px 0 black;
  -webkit-animation: bounceIn 1.5s both 1s;
  margin-top: 100px;
  letter-spacing: 2px;
  background-color: black;
  opacity: 0.9;
}

figcaption {
  border: dotted 3px orange;
  
}

.picture {
   padding: 10px;
    height: 300px;
    width: 350px;
    border-radius: 30px;
    align: center;
    display: float;
}

body {
  background-image: url(./Images/360_F_375317891_CaB5yFaQSdTezeuw6NLJUZyCmgXtYLba.jpg);
   color: black;
  background-size: contain;
  background-position: center;
  background-repeat: repeat;
}
