body {
  margin: 0px;
  background-image: url(./Images/jorge_cover.jpeg);
  background-size: 100%;
  background-repeat: repeat;
    }

.button {
  color: white;
  font-family: "Press Start 2P";
  font-size: 13px;
}

p {
  color: white;
  font-family: "Press Start 2P";
  font-size: 10px;
}
